# Byte-compiled
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
*.egg-info/
*.egg
dist/
build/

# Testing
.pytest_cache/
.coverage
htmlcov/

# Databases / caches
*.sqlite3
*.db
sqlite3.db
sqlite3.db-journal

# OS
.DS_Store

# Editors
.idea/
.vscode/
*.swp

# Environment
.env
venv/
.venv/
